/* General */
*{
    box-sizing: border-box;  
}

html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #4E5150;
}

img{
    width: 20%;
}

/* Author Content */
.author-content{
    text-align: center;
}

.author-name{
    font-size: 1.4em;/*14px*/
}

.author-location{
    font-size: 1em;/*10px*/
    color: #A9A9A9;
}

/* Data Cards */
.dataCard-content{
    display: flex;
    justify-content: space-around;
}

.dataCard{
    font-size: 1.2em;/*12px*/
    background: #E5E5E5;
}

.data-concept{
    color: #BDBDBD;
}

/* Footer */

footer {
    font-weight: 500;
    font-size: 14px;
    color: #B9BDCF;
    text-align: center;
    margin-top: 5%;
  }
  
  footer a {
    font-weight: 700;
    text-decoration: none;
    color: #B9BDCF;
  }